body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/back6.jpg') no-repeat center center fixed;
    background-size: cover;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-back {
    padding: 10px 15px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.btn-back:hover {
    background-color: #0056b3;
}


.table-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


table th, table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #000000;
}

table th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}


.table-actions a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 5px;
}

.table-actions a.edit {
    background-color: #007bff;
}

.table-actions a.delete {
    background-color: #dc3545;
}

.flash-messages {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.flash-messages.error {
    background-color: #f8d7da;
    color: #ff0019;
    border: 1px solid #f5c6cb;
}

.search-info {
    margin: 20px auto;
    padding: 10px;
    background-color: #fca466;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
}

.flash-messages {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 400px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #ef5151f8;
}
button, .btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


